{
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "globals": {
    "STAC_BROWSER_VERSION": "readonly",
    "CONFIG_PATH": "readonly",
    "CONFIG_CLI": "readonly",
    "require": "readonly",
    "process": "readonly"
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "eslint:recommended"
  ],
  "ignorePatterns": [
    "**/stac-fields",
    "**/stac-migrate",
    "**/stac-layer",
    "config.js",
    "*.config.js"
  ],
  "rules": {
    "curly": [1, "all"],
    "semi": [1, "always"],
    "vue/multi-word-component-names": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/attribute-hyphenation": "off",
    "vue/max-attributes-per-line": ["error", {
      "singleline": {
        "max": 6
      },      
      "multiline": {
        "max": 4
      }
    }],
    "vue/component-tags-order": ["error", {
      "order": ["template", "script", "style"]
    }],
    "vue/order-in-components": "error",
    "vue/this-in-template": "error",
    "vue/match-component-file-name": "error"
  }
}
