@import 'variables.scss';
@import '@vuepic/vue-datepicker/dist/main.css';

// VueDatePicker theming using CSS variables
.dp__theme_light {
  --dp-primary-color: var(--sb-primary);
  --dp-primary-text-color: var(--sb-body-bg);
  --dp-secondary-color: var(--sb-secondary);
  --dp-background-color: var(--sb-body-bg);
  --dp-text-color: var(--sb-body-color);
  --dp-hover-color: var(--sb-primary-light);
}

.dp__calendar_header {
  font-weight: 600;
  font-size: 0.95rem;
}

.dp__main {
  .dp__time_picker_inline_container {
    > .dp__flex {
      width: 100%; // Center the time picker under each of the the calenders
    }
  }

  .dp--tp-wrap {
    max-width: none; // Fix issue with the datepickers being too far on the left
  }
}
