/* This is based on https://github.com/heyman/leaflet-areaselect from @heymen
 * with contributions from @lweller and @ebrensi */

.leaflet-areaselect-shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  cursor: inherit;
}
.leaflet-areaselect-handle {
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  width: 14px;
  height: 14px;
  cursor: move;
}
