#stac-browser .root-stats h4{margin-top:1rem}#stac-browser .root-stats .charts .chart{max-height:300px}#stac-browser .root-stats .metadata .card{margin-top:0}#stac-browser .root-stats .metadata .card-columns{column-count:1}
