.browse h1,
.browse h2,
.browse h3,
.browse h4,
.browse h5,
.browse h6 {
  padding: 0;
  margin: 0;
}
.browse h1,
.browse h2,
.browse h3,
.browse h4 {
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  padding-bottom: 4px;
}
.browse h1:last-child,
.browse h2:last-child,
.browse h3:last-child,
.browse h4:last-child {
  padding-bottom: 0;
}
.browse h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
}
.browse h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.3;
}
.browse h3 {
  font-weight: 700;
}
.browse h3,
.browse h4 {
  font-size: 17px;
  line-height: 1.255;
}
.browse h4 {
  font-weight: 400;
}
.browse h5 {
  font-size: 13px;
  line-height: 19px;
}
.browse h5,
.browse h6 {
  font-weight: 700;
}
.browse h6 {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.465;
  padding-bottom: 1px;
}
.browse p {
  padding: 0;
  margin: 0 0 14px;
}
.browse p:last-child {
  margin-bottom: 0;
}
.browse p + .browse p {
  margin-top: -4px;
}
.browse b,
.browse strong {
  font-weight: 700;
}
.browse em,
.browse i {
  font-style: italic;
}
.browse blockquote {
  margin: 13px;
}
.browse header {
  padding: 0 0 0.5em;
}
.browse code {
  color: #555;
  white-space: nowrap;
}

.browse .scroll {
  overflow-x: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.browse .scroll::-webkit-scrollbar {
  display: none;
}

.browse .btn code {
  font-size: 10.5px;
}

.browse .footer {
  height: 40px;
  line-height: 40px;
  text-align: right;
  font-size: 0.75em;
}

.browse .poweredby {
  padding: 5px 10px;
}

#thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
}

.browse .tabs {
  margin-top: 25px;
  height: auto;
}

.browse .table th,
.browse .table td {
  border: none;
  padding: 0.25rem;
  vertical-align: middle;
}

.browse .table td.title {
  border-right: 1px solid #ddd;
}

.browse .table td.group {
  border-radius: 5px;
  background-color: #ddd;
  padding-left: 7px;
}

.browse .table td.group h4 {
  font-size: 14px;
  font-weight: normal;
  color: #555;
  text-transform: uppercase;
}

.browse .table th {
  border-top: none;
  border-bottom: 1px solid #dee2e6;
}

.browse .metadata td.title {
  font-weight: bold;
  width: 33%;
  text-align: right;
}